*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Odoo Unicode Support Noto", sans-serif;
}
html{
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* Scroll To Top */

.scrolltop{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    
}
.scrolltop i{
    color: black;
    width: 4rem;
    height: 4rem;
    background-color: #ffd7bb;
    border-radius: 4rem;
    font-size: 30px;
    line-height: 60px;
    text-indent: 1.15rem;
    
   
}
#header-container {
    
    display:flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7.5rem;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-shadow:  0px 5px 15px rgba(25, 25, 25,0.3);
    border-bottom-color: rgb(206, 212, 218);
}
#header-logo-cont {
    width: 19%;
    
    

}
#header-logo{
    
    width: 20rem;
    height:auto;
    
}
.fixed-nav{
    transition:  all 1s;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.nav-toggle{
    float: right;
    cursor: pointer;
    border: none;
    background-color: seashell;
    border-radius: 3px;

}
.show-links{
    height: 30rem !important;
}
.nav-toggle i{
    
    line-height: 45px;
    font-size: 25px;
    width: 3rem;
    height: 3rem;
}
#header-menu-cont {
    width: 60;
}
.header-menu{
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: 0 !important;
    /* height: 0;
    overflow: hidden;
    transition: .3s all ease-in-out;
     */
}
.header-menu a:hover{
    color: rgba(25,25 ,25, 0.6);
    text-decoration: none;
}
.header-menu li{
    
}
.header-menu-item {
    margin: 1.5rem;
    font-size: 30px;
}
.header-menu-item a{
    color: black;
}

#header-interface{
    display:flex;
    justify-content:center;
    margin: 1rem;
    padding: 0px;
    box-sizing: border-box;
    
}
#header-login{
    background-color: #ffffff;
    border-style: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 15px;
    padding: 0.5rem;

}
#header-login-text a{
    color: black;
}
#header-cart-text a{
    color: black;
}
#header-cart{
    background-color: #ffffff;
    border-style: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 15px;
    padding: 0.5rem;

    
}

#header-search-bar-group{
    display:flex;
    position: relative;
    

}

#header-search-bar{
    font-size: 15px;
    width: 12rem;
    height: 2rem;
    padding-left: 1rem;

}

#header-search-bar-icon{
    
    position: absolute;
    right: 0.4rem;
    align-items: center;
    font-size: 16px;
    line-height: 32px;
    border-style: none;

}
::placeholder{
   font-size: 16px;
   
}
/* MAIN ITEM ROW / SLIDER */
#carouselExampleIndicators{
    margin-top: 2rem !important;
    margin: 0 auto;
    max-width: 77rem !important;
}
.caroursel-inner img{
    max-width: 1000px !important;
    object-fit: cover !important;
}
#promotions-container{
    display:flex;
    justify-content: center; 
    min-height: 1000px;
    max-width: auto;
    
    flex-wrap: wrap;
    background-color:seashell;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-shadow:  0.10rem 0.25rem rgb(250, 155, 255, 3%);
    border-bottom-color: rgb(206, 212, 218);
    

    
    
    
}
#promotion-mainrow{
   
   

}
#prom-item-img{
    height: auto;
    width: 40rem;
}
#promotion-secrow{
    display:flex;

}
#promotion-item{
}
#secrow-item {
}

/* PROMOTED CATEGORIES */
#promoted-category-container{
    display: flex;
    justify-content: center;
    
}
#promoted-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 1.5rem;
    flex-wrap: wrap;
    
    
}
#promoted-category-link{
    display: flex;
    font-size: 30px;
    width: 15rem;
    padding: 1.5rem;
    justify-content: center;
    border-radius: 50px;
border-width: 0;
    margin: 2rem;
    border-radius: 5px;
    box-shadow: rgba(25, 25, 25, 0.3) 0px 5px 15px;
    cursor: pointer;
    box-sizing: border-box;
}
/* SECONDARY CAMPAINS */
#fav-item-cont{
    display: flex;
    justify-content: center;
    background: seashell;
    border-top-style: none;
    border-top-width: 1px;
    box-shadow: rgba(25, 25, 25, 0.3) 0px 5px 15px;
    border-top-color: rgb(206, 212, 218);
}
#fav-item{
    padding: 1.100rem;
}
#discount-campain-cont{
    padding: 1.100rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #ffffff;
    border-top-style: none;
    border-top-width: 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-top-color: rgb(206, 212, 218);
}
#discount-campain2{
    margin-top: 2.2rem;
}

